@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import 'helpers/variaveis';
@import 'base/normalize';



/*-----------------------CSS geral-----------------------*/
body{
	background-color: $cor-bg-site;
	font-family: 'Josefin Sans', sans-serif;
}

img{
	max-width: 100%;
}

.cabecalho{
	width: 100%;
	height: 5em;
	position: fixed;
	padding: 1em;
	box-sizing: border-box;
	background-color: $amarelo-padrao;
}

.cabecalho .logo{
	width: 70%;
	display: inline-block;
}

.cabecalho .botao-menu{
	width: 28%;
	display: inline-block;
	position: absolute;
	right: 0;
}
.cabecalho .abrir-menu{
	height: 0;
	width: 4em;
	background-color: transparent;
	padding-top: .5em;
	border-top: 1.5em double #fff;
	border-bottom: .5em solid #fff;
	text-indent: -9999px;
}