@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import 'helpers/variaveis';
@import 'helpers/mixins-placeholders';
@import 'base/normalize';

@keyframes seta-baixo{
	from{top: 2em;}
	to{top: 2.1em;}
}

/*
-------------------------CSS Index-----------------------
---------------------------------------------------------
*/
body{
	background-color: $cor-bg-site;
	color: $cinza-escuro-padrao;
	font-family: 'Josefin Sans', sans-serif;
	height: 100%;
}

img{
	max-width: 100%;
}
.main{
	width: 100%;
}
/*----------------------Cabeçalho----------------------*/
.cabecalho{
	width: 100%;
	height: 5em;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999;
	padding: 1em;
	@extend %box-sizing;
	background-color: $amarelo-padrao;
	.logo{
		width: 70%;

	}
	.botao-menu{
		width: 20%;
		display: flex;
		justify-content: flex-end;

	}	
	.abrir-menu{
		background-color: transparent;
		border: none;


		&:after{
			content: '\f0c9';
			font-family: FontAwesome;
			font-size: 2em;
			color:$branco;
			width: 6.25em;
			height: 6.25em;
		}
	}
	.fechar-menu{
		background-color: transparent;
		border: none;


		&:after{
			content: '\f00d';
			font-family: FontAwesome;
			font-size: 2em;
			color: $cor-bg-site;
			width: 6.25em;
			height: 6.25em;
		}
	}

}
/*----------------------Fim do cabeçalho----------------------*/


/*----------------------Menu----------------------
OBS: Menu com right negativo para fica escondido na lateral*/
.menu{
	width: 70%;
	height: 100%;
	position: fixed;
	top: 0;
	right: -70%;
	padding: 1em;
	@extend %box-sizing;
	@extend %z-index-999;
	background-color: $cinza-escuro-padrao;

	ul{
		list-style: none;
		@extend %box-sizing;

		li{
			padding: .7em;

			a{
				color: $branco;
				text-decoration: none;
				padding-bottom: .2em;
				border-bottom: .125em solid transparent;
				transition: border 1s;
				
				&:hover, focus{
					border-color: $branco;
				}
			}
		}
	}
}
/*----------------------Fim do menu----------------------*/

/*----------------------Baner inicial----------------------*/
.baner{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../images/baner-noiva.jpg");
	background-color: $cinza-escuro-padrao;
	background-size: cover;
	background-position: center center;
	text-align: center;

	&:after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.5);
	}

	.texto-apresentacao{
		width: 100%;	
		@extend %z-index-999;
		@extend %box-sizing;
		padding: .8em;
		color: $branco;
		font-size: 1.5em;
	}

	.redes-sociais{
		width: 100%;
		@extend %z-index-999;
			a{
				@extend %box-sizing;
				padding: 1em 1.3em;
		 		background-color: $branco;
		 		@extend %circulo;
		 		font-size: 1.1em;
		 		margin: .3em;
			}
	}

	.seta-baixo{
		display: flex;
		flex-direction: column;
		position: relative;
		top: 2em;
		font-size: 3em;
		text-decoration: none;
		color: $branco;
		@extend %z-index-999;
		-webkit-animation: seta-baixo 1s linear infinite alternate;

		&:hover{
			-webkit-animation: paused;
		}
	}
}
/*----------------------Fim do baner----------------------*/

/*----------------------Serviços do inicio do site----------------------*/
.servicos{
	.servico{
		width: 100%;
		@extend %box-sizing;
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		img{
			width: 30%;
			@extend %circulo;
			background-color: $branco;
			padding: 1em;
		}
		
		a{
			font-size: 3.5em;
			color: $azul-padrao;

			&:hover, focus{
				color: $cinza-escuro-padrao;
			}
		}
	}
}
/*----------------------Fim dos serviços----------------------*/

/*----------------------Inicio das fotos em destaque----------------------*/

.fotos-destaque-inicio{
	width: 100%;
	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		@extend %box-sizing;
		padding: .001em; /*Sem o padding n alinhava ao centro, mas n queria q ficasse separado da borda, então coloquei esse padding pequeno.*/
		li{
			list-style: none;
			text-align: center;
			width: 100%;
			margin-bottom: -.25em; /*Deixar as fotos juntas*/

			&:last-child{
				display: flex;
				flex-direction: column;
				width: 100%;
				background-color: $cinza-escuro-padrao;
				color: $branco;
				@extend %box-sizing;
				padding: 2em;
				font-size: 2em;
				margin-bottom: 0;
				a{
					font-size: 1.5em;
					color: $branco;
				}
			}
		}
	}
}

.depoimentos{
	margin-top: -1em;
	.titulo{
		width: 100%;
		background-color: $amarelo-padrao;
		color: $branco;
		text-align: center;
		font-size: 1.5em;
		display: flex;
		flex-direction: column;
		@extend %box-sizing;
		padding: 1em;

		i{
			font-size: 2.5em;
		}
	}

	.depoimento-unico{
		display: flex;
		flex-direction: column;
		align-items: center;
		@extend %box-sizing;
		padding: 1em;
		text-align: center;
		font-size: 1.1em;
		img{
			width: 30%;
			@extend %circulo;
		}
		cite{
			font-weight: bolder;
			padding: .2em;
		}

		nav{
			ul{
				display: flex;
				padding: .01em;
				list-style: none;
				li{
					background-color: $cinza-escuro-padrao;
					color: transparent;
					@extend %circulo;					
					width: 1em;
					height: 1em;
					margin: .5em;

					&:last-child{
						background-color: $azul-padrao;
					}
				}
			}
		}
	}
}