@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import 'helpers/variaveis';
@import 'base/normalize';



/*-----------------------CSS geral-----------------------*/
body{
	background-color: $cor-bg-site;
	font-family: 'Josefin Sans', sans-serif;
}

img{
	max-width: 100%;
}

.cabecalho{
	width: 100%;
	height: 5em;
	position: fixed;
	padding: 1em;
	box-sizing: border-box;
	background-color: $amarelo-padrao;
}

.cabecalho .logo{
	width: 70%;
	display: inline-block;
}

.cabecalho .botao-menu{
	width: 28%;
	display: inline-block;
}

.cabecalho .abrir-menu{
	background-color: transparent;
	border: none;
	position: absolute;
	right: 1.5em;
	top: 1.1em;
}

.cabecalho .abrir-menu:after{
	content: '\f0c9';
	font-family: FontAwesome;
	font-size: 2em;
	color: $cor-bg-site;
	width: 100px;
	height: 100px;
}

