@import 'helpers/variaveis';
@import 'helpers/mixins-placeholders';
@import 'base/normalize';
@import 'layout/geral';
@import 'layout/cabecalho';
@import 'layout/menu';
@import 'layout/rodape';
@import 'helpers/media-query';


.titulo-principal{
	figure{
		position: relative;
		top: 4em;
		img{
			@extend %circulo;
			width: 150px;
			height: 150px;
		}	
	}
}

.sobre{
	display: flex;
	flex-direction: column;
	text-align: center;
	@extend %box-sizing;
	padding: 1em;

	p{
		font-size: 1.1em;
		line-height: 2em;
	}
}

