/*----------------------Pagina inicial e menu----------------------*/

@media(min-width: 500px){
	.cabecalho{
		.logo{
			width: 50%;
		}
	}
}

@media(min-width: 768px){
	.container{
		width: 80%;
		margin-left: 10%;
	}
	.cabecalho{
		position: absolute;
		top: 2em;
		height: 7em;
		background-color: transparent;
		display: flex;
		justify-content: space-around;

	.logo{
		width: 20%;
		}
		.botao-menu{
			display: none;
		}

		.menu{
			position: relative;
			right: 0;
			display: flex;
			justify-content: space-between;
			background-color: transparent;
			ul{
				flex-basis: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;
				
				li:nth-child(3){
						padding: 0;
					.logo-vertical{
						width: 60%;
					}
				}
			}
			.fechar-menu{
				display: none;
			}
		}
	}

	.rodape{
		padding: 5em 0 0 0;
	}
}

